body {
  background: #161616;
  color: #000;
}

div#header {
  background: #CCC;
  color: #26383b;
}

div#main {
  background: rgb(219, 219, 219);
}

div p {
  color: black;
}

div#to-do {
  background: #e0e0e0;
}

div#sidebar ul li a {
  background: rgb(187, 187, 187);
}

div#sidebar ul li a:hover {
  background: #d1d1d1;
}