* {
		padding:0;margin:0
	}
	
	body {
		font-family: Helvetica, Verdana, Arial, sans-serif;
		width:100%;
		background:#000;
		color:#000;
		height:100%;
	}
	div#background {
		position:relative;
		top:0;
	}
	#depth {
		z-index:0;
	}
	div#wrapper {
		z-index:1;
		position:absolute;
		top:0;
		height:100%;
	}
	div#header {
		background:#7eab11;
		color:#26383b;
		width:60%;
		margin:0 auto 50px;
	}
	div#header h1 {
		text-align:center;
		padding:10px;
	}
	div#header h2 {
		width:80%;
		margin:0 auto;
		text-align:center;
		padding:10px;
		border-top:1px solid #27383b;
	}
	div#content {
		width:60%;
	}
	div#main {
		width:80%;
		background:rgba(200,40,50,.5);
		margin-bottom:50px;
	}
	div p {
		margin:10px;
		padding:15px;
		-moz-border-radius: 10px;
		-webkit-border-radius:10px;
		border:1px solid black;
		background:#fff;
		color:black;
	}
	div#to-do {
		background:#ca544b;
		width:70%;
		padding:20px;
	}
	
	h3 {text-align: center}
	ul#to-do-list{
		display:block;
		background:#FFF;
		-moz-border-radius: 10px;
		-webkit-border-radius:10px;
		border:1px solid black;
	}
	ul#to-do-list li {
		list-style: none;
		text-align:center;
		padding:10px;
	}
	.pop {
		outline:1px solid black;
	}
	div#sidebar {
		float:right;
		width:30%;
	}
	div#sidebar {
	position:relative;
	top:-400px;
	right:50px;
	}
	div#sidebar ul li {
		list-style: none;
		padding:10px;
	}
	div#sidebar ul li a{
		padding:10px;
		display:block;
		width:100%;
		background:rgba(247,202,84,.5);
		text-decoration:none;
	}
	div#sidebar ul li a:hover {
		background:#7eab11;
	}