@import 'color.css';
@import 'typo.css';

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

div#background {
  position: relative;
  top: 0;
}

#depth {
  z-index: 0;
}

div#wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
}

div#header {
  width: 60%;
  margin: 0 auto 50px;
}

div#header h1 {
  padding: 10px;
}

div#header h2 {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

div#content {
  width: 60%;
}

div#main {
	width: 70%;
	margin-bottom: 50px;
}

div p {
  padding: 15px;
}

div#to-do {
  width: 70%;
  padding: 20px;
}

ul#to-do-list {
  display: block;
}

ul#to-do-list li {
  padding: 10px;
}

div#sidebar {
  float: right;
  width: 30%;
}

div#sidebar {
  position: relative;
  top: -400px;
  right: 50px;
}

div#sidebar ul li {
	padding: 10px;
	
}

div#sidebar ul li a {
  padding: 10px;
  display: block;
	width: 100%;
}