body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

div#header h1,
div#header h2 {
  text-align: center;
}

h3 {
  text-align: center
}

ul#to-do-list {
  list-style: none;
  text-align: center;
}

div#sidebar ul li {
  list-style: none;
}

div#sidebar ul li a {
  text-decoration: none;
}